/* ---------------- Root Variables ---------------- */
:root {
    --primary-color: #505033;
    --secondary-color: #264969;
    --accent1-color: #cfcfb4;
    --accent2-color: #b4cde4;
    --text-color: #333;
    --background-color: #fff;
}

/* ---------------- General Styles ---------------- */
body {
    font-family: 'Merriweather', serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* ---------------- Header ---------------- */
header {
    background-color: var(--primary-color);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    height: 100px;
    column-gap: 20px;
    justify-items: center;
    width: 100%;
}

header img {
    max-width: 120px;
    justify-self: center;
    align-self: center;
}

/* ---------------- Navigation ---------------- */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    width: 100%;
}

nav li {
    display: inline-block;
}

nav a {
    color: var(--accent1-color);
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    border: 2px solid var(--accent1-color);
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 120px;
    text-align: center;
}

nav a:hover {
    background-color: #f0f0f0;
    border-color: #333;
    color: #333;
}

/* ---------------- Hero Section ---------------- */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(77, 75, 75, 0.6);
    padding: 20px;
    font-size: 2.5em;
    width: 100%;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 70%;
    background-color: rgba(5, 31, 66, 0.632);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.hero article img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.hero article p {
    flex: 1;
    margin: 0;
    text-align: left;
}

/* ---------------- History Section ---------------- */
.history {
    background-color: var(--accent1-color);
    padding: 20px;
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10px;
    align-items: center;
}

.history h2 {
    grid-column: 1 / 4;
    text-align: center;
    margin-bottom: 10px;
}

.history p:first-of-type,
.history p:last-of-type {
    grid-row: 2;
    margin-bottom: 0;
    line-height: 1.4;
}

.history-image-container {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-image-container img {
    max-width: 250px;
}

/* ---------------- Adventure Section ---------------- */
.adventure {
    text-align: center;
    padding: 20px;
}

.adventure .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.adventure figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

.adventure figure img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    max-width: 220px;
    max-height: 150px;
}

.adventure figcaption {
    background-color: #222;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    padding: 3px;
    text-align: center;
}

/* ---------------- Footer ---------------- */
footer {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Merriweather', serif;
    width: 100%;
    box-sizing: border-box;
}

.footer-left,
.footer-center,
.footer-right {
    display: flex;
    align-items: center;
}

.footer-center {
    gap: 10px;
    font-size: 1.5em;
}

.contact-link {
    text-decoration: none;
    color: var(--accent1-color);
    align-items: center;
    gap: 5px;
}

.wireframe-icon {
    width: 30px;
    height: auto;
}

.footer-right img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

/* ---------------- CONTACT PAGE ---------------- */
#contact-page {
    padding: 0;
    max-width: 100%;
    margin: 0;
}

#contact-page h1 {
    color: var(--primary-color);
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 20px;
}

#contact-page p {
    color: var(--text-color);
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 20px;
}

#contact-page section {
    width: 100%;
    padding: 20px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}

#contact-page section h2 {
    text-align: center;
}

/* ---------------- Our Contact Information ---------------- */
#contact-page section:nth-of-type(1) {
    background-color: var(--accent1-color);
}

iframe {
    width: 100%;
    height: 400px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin-top: 20px;
    transition: box-shadow 0.3s ease;
    max-width: 100%;
    box-sizing: border-box;
}

iframe:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* ---------------- Meet Our Team ---------------- */
#contact-page section:nth-of-type(2) {
    background-color: var(--background-color);
}

.employee-profile-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.employee-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.employee-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.employee-profile img:hover {
    transform: scale(1.1);
}

.employee-profile h3 {
    color: var(--primary-color);
    font-size: 1.2em;
    text-align: center;
}

/* ---------------- Send Us a Message ---------------- */
#contact-page section:nth-of-type(3) {
    background-color: var(--accent2-color);
}

#contact-form {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    width: 90%;
}

#contact-form label,
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea,
#contact-form button {
    display: block;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
}

#contact-form textarea {
    height: 150px;
}

#contact-form input[type="radio"],
#contact-form input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
    transform: scale(1.5);
    vertical-align: middle;
}

#contact-form label[for="subscribe"] {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

#contact-form button {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: var(--secondary-color);
}

/* Radio and Checkbox Labels */
#contact-form label[for="general-inquiry"],
#contact-form label[for="reservation"],
#contact-form label[for="suggestion"],
#contact-form label[for="newsletter"] {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 5px;
}

#contact-form label[for="newsletter"] {
    flex-direction: row-reverse;
}

#contact-form input[type="radio"] {
    margin-right: 5px;
}

#contact-form input[type="checkbox"] {
    margin-left: 5px;
}

#contact-form .button:hover {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

/* ---------------- HOME PAGE ---------------- */
/* Hero Section */
.home-hero {
    position: relative;
    text-align: center;
    color: white;
}

.home-hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.home-hero-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    margin: 0;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.home-hero-paragraph {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    margin: 0;
    padding: 5px 10px;
    background-color: rgb(106, 133, 43);
    border-radius: 5px;
}

.book-now-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
}

.book-now-button:hover {
    background-color: var(--primary-color);
}

/* Gallery Section */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 250px;
    padding: 50px 120px;
}

.gallery figure {
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid #d4d64c;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.gallery .image-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

.home-gallery-caption {
    margin-top: 10px;
    font-size: 1.2em;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.home-gallery-caption .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

.home-gallery-caption .icon {
    width: 80px;
    height: 80px;
    fill: var(--secondary-color);
    position: relative;
    z-index: 1;
}

/* Content Section */
.content-section {
    position: relative;
    background-color: var(--accent1-color);
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section img {
    width: 65%;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
    margin-right: 10%;
}

.content-box {
    position: absolute;
    right: 5%;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 40px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: translateY(20px);
    font-family: 'Merriweather', serif;
}

.content-box h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    font-weight: bold;
}

.content-box p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.join-us-button {
    background-color: var(--accent1-color);
    color: var(--text-color);
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-us-button:hover {
    background-color: var(--accent1-color);
}

/* button to trips */
.cta-trips {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--accent1-color);
}

.trips-button {
    display: inline-block;
    padding: 10px 25px;
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.trips-button:hover {
    background-color: var(--primary-color);
}

/* Newsletter Section */
.visually-hidden {
    position: absolute;
    left: -9999px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 0.5px solid var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

#newsletter-name,
#newsletter-email {
    padding: 10px;
    width: 250px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#newsletter-name:focus,
#newsletter-email:focus {
    border-color: var(--primary-color);
}

button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: var(--secondary-color);
}

/* ---------- TRIPS PAGE ---------- */
.trips-page .trip-hero {
    position: relative;
    text-align: center;
    color: white;
}

.trips-page .trip-hero img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.trips-page .trip-hero-title,
.trips-page .trip-hero-subtitle {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 1.2;
}

.trips-page .trip-hero-title {
    top: 30%;
    left: 0;
    transform: none;
    font-size: 2.1em;
    font-weight: bold;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0;
}

.trips-page .trip-hero-subtitle {
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4em;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 10px;
}

.trips-page .trip-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    padding: 20px;
}

.trips-page .trip-item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.trips-page .trip-item:hover {
    transform: translateY(-5px);
}

.trips-page .trip-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.trips-page .trip-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.trips-page .trip-details h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.trips-page .trip-details p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.trips-page .trip-offer {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    align-self: flex-end;
    margin-bottom: 5px;
    font-weight: bold;
}

.trips-page .book-trip-button {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    font-size: 0.9em;
}

.trips-page .book-trip-button:hover {
    background-color: #3b3b27;
}

/* Prices table */
.trip-prices {
    text-align: center;
    margin-bottom: 40px;
}

.trip-prices h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.prices-table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: var(--background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    font-family: 'Merriweather', serif;
    border-radius: 10px;
    overflow: hidden;
}

.prices-table th,
.prices-table td {
    border: 1px solid var(--accent2-color);
    padding: 0.75rem;
    text-align: left;
}

.prices-table th {
    background-color: var(--secondary-color);
    color: var(--background-color);
    text-transform: uppercase;
}

.prices-table tr:nth-child(even) {
    background-color: var(--accent2-color);
}

.prices-table tr:hover {
    background-color: #e6eef5;
}

.prices-table td:first-child {
    font-weight: bold;
}

.back-home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 40px;
    transition: background-color 0.3s;
}

.back-home-button:hover {
    background-color: var(--secondary-color);
}